---
const {link, name, description} = Astro.props
---

<article class="flex flex-col items-center h-full justify-around">
    <slot />
    <div class="text-center w-2/3">
        <h4 class="text-xl font-bold text-[#160A03]">{name}</h4>
        <p class="text-[#160A03]">{description}</p>
    </div>
    <button class="bg-[#FECDAA]">
        Más información
    </button>
</article>